In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").appName("test_session").getOrCreate()
spark.sparkContext.setLogLevel("ERROR")

In [3]:
import sys, os, time, getpass

sys.path.append("/home/tatiane/lib/")

import pessoal
from pessoal import *
#print('AppID: ', sc.applicationId)

Tempo inicial da execucao: 2025-10-29 12:31:56.097622
User: tatiane
Node: tatiane-Inspiron-3583

## Leitura

In [4]:
csv_path = "/home/tatiane/data-projects/01_data_cleaning/et_rh/raw/data/database_rh.csv"
df = spark.read.csv(csv_path, header=True, inferSchema=True)
pessoal.completudeSchema(df)

[Stage 2:>                                                          (0 + 1) / 1]

Qtd. registros: 14900 | Quantidade de colunas:  24
root
 |-- Employee ID: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Years at Company: integer (nullable = true)
 |-- Job Role: string (nullable = true)
 |-- Monthly Income: integer (nullable = true)
 |-- Work-Life Balance: string (nullable = true)
 |-- Job Satisfaction: string (nullable = true)
 |-- Performance Rating: string (nullable = true)
 |-- Number of Promotions: integer (nullable = true)
 |-- Overtime: string (nullable = true)
 |-- Distance from Home: integer (nullable = true)
 |-- Education Level: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Number of Dependents: integer (nullable = true)
 |-- Job Level: string (nullable = true)
 |-- Company Size: string (nullable = true)
 |-- Company Tenure: integer (nullable = true)
 |-- Remote Work: string (nullable = true)
 |-- Leadership Opportunities: string (nullable = true)
 |-- Innovation Opportunities: string (nullable = true)
 |-- Company Reputation: string (nullable = true)
 |-- Employee Recognition: string (nullable = true)
 |-- Attrition: string (nullable = true)

In [5]:
for col in df.columns:
    df.groupBy(col).count().show(50, False)

+-----------+-----+
|Employee ID|count|
+-----------+-----+
|73470      |1    |
|61793      |1    |
|67753      |1    |
|57020      |1    |
|43688      |1    |
|66010      |1    |
|50348      |1    |
|31983      |1    |
|36538      |1    |
|55283      |1    |
|38422      |1    |
|8389       |1    |
|9376       |1    |
|64423      |1    |
|22521      |1    |
|15619      |1    |
|28024      |1    |
|44022      |1    |
|53634      |1    |
|46266      |1    |
|25591      |1    |
|1088       |1    |
|31367      |1    |
|8086       |1    |
|10206      |1    |
|16339      |1    |
|35351      |1    |
|46952      |1    |
|6466       |1    |
|36355      |1    |
|41988      |1    |
|15727      |1    |
|58665      |1    |
|57178      |1    |
|40011      |1    |
|31236      |1    |
|20497      |1    |
|471        |1    |
|65220      |1    |
|23336      |1    |
|29054      |1    |
|68579      |1    |
|14832      |1    |
|5518       |1    |
|18024      |1    |
|18944      |1    |
|29285      |1    |
|53691      |1    |
|53963      |1    |
|10362      |1    |
+-----------+-----+
only showing top 50 rows
+---+-----+
|Age|count|
+---+-----+
|31 |362  |
|53 |386  |
|34 |374  |
|28 |340  |
|26 |340  |
|27 |369  |
|44 |326  |
|22 |358  |
|47 |313  |
|52 |342  |
|40 |386  |
|20 |344  |
|57 |367  |
|54 |343  |
|48 |315  |
|19 |379  |
|41 |330  |
|43 |373  |
|37 |350  |
|35 |378  |
|55 |368  |
|59 |325  |
|39 |343  |
|23 |332  |
|49 |317  |
|51 |356  |
|50 |326  |
|45 |379  |
|38 |364  |
|25 |326  |
|24 |352  |
|29 |372  |
|21 |368  |
|32 |390  |
|56 |384  |
|58 |345  |
|33 |385  |
|42 |341  |
|30 |368  |
|46 |358  |
|18 |356  |
|36 |370  |
+---+-----+

+------+-----+
|Gender|count|
+------+-----+
|Female|6813 |
|Male  |8087 |
+------+-----+

+----------------+-----+
|Years at Company|count|
+----------------+-----+
|31              |182  |
|34              |111  |
|28              |209  |
|26              |257  |
|27              |223  |
|44              |50   |
|12              |552  |
|22              |322  |
|47              |35   |
|1               |635  |
|13              |499  |
|16              |419  |
|6               |608  |
|3               |595  |
|40              |89   |
|20              |364  |
|48              |33   |
|5               |628  |
|19              |351  |
|41              |88   |
|15              |444  |
|43              |74   |
|37              |120  |
|17              |424  |
|9               |565  |
|35              |130  |
|4               |601  |
|8               |612  |
|23              |334  |
|39              |86   |
|49              |19   |
|7               |597  |
|51              |7    |
|10              |607  |
|50              |6    |
|45              |61   |
|38              |106  |
|25              |250  |
|24              |284  |
|29              |203  |
|21              |334  |
|32              |166  |
|11              |567  |
|33              |160  |
|14              |439  |
|42              |78   |
|2               |586  |
|30              |205  |
|46              |34   |
|18              |406  |
+----------------+-----+
only showing top 50 rows
+----------+-----+
|Job Role  |count|
+----------+-----+
|Education |3168 |
|Healthcare|3432 |
|Finance   |2063 |
|Media     |2422 |
|Technology|3815 |
+----------+-----+

+--------------+-----+
|Monthly Income|count|
+--------------+-----+
|6357          |3    |
|8592          |3    |
|7993          |4    |
|9900          |2    |
|7982          |3    |
|13840         |1    |
|5300          |3    |
|4935          |3    |
|6336          |1    |
|7880          |3    |
|7754          |1    |
|5803          |3    |
|6466          |2    |
|5518          |1    |
|6397          |4    |
|6620          |3    |
|9376          |3    |
|7253          |2    |
|7833          |3    |
|8086          |1    |
|4818          |4    |
|9427          |2    |
|3997          |1    |
|6654          |3    |
|7340          |2    |
|7554          |3    |
|8638          |1    |
|4519          |3    |
|4900          |1    |
|10206         |1    |
|9852          |1    |
|7240          |1    |
|9465          |2    |
|10362         |1    |
|10817         |1    |
|6623          |5    |
|4161          |2    |
|9879          |2    |
|6773          |3    |
|8932          |1    |
|6393          |1    |
|9182          |2    |
|10914         |2    |
|4190          |1    |
|8928          |3    |
|4219          |1    |
|8105          |4    |
|5614          |2    |
|10462         |2    |
|8803          |1    |
+--------------+-----+
only showing top 50 rows
+-----------------+-----+
|Work-Life Balance|count|
+-----------------+-----+
|Excellent        |2713 |
|Good             |5630 |
|Fair             |4483 |
|Poor             |2074 |
+-----------------+-----+

+----------------+-----+
|Job Satisfaction|count|
+----------------+-----+
|High            |7466 |
|Very High       |2968 |
|Low             |1566 |
|Medium          |2900 |
+----------------+-----+

+------------------+-----+
|Performance Rating|count|
+------------------+-----+
|High              |3022 |
|Low               |780  |
|Average           |8909 |
|Below Average     |2189 |
+------------------+-----+

+--------------------+-----+
|Number of Promotions|count|
+--------------------+-----+
|1                   |3716 |
|3                   |804  |
|4                   |201  |
|2                   |2750 |
|0                   |7429 |
+--------------------+-----+

+--------+-----+
|Overtime|count|
+--------+-----+
|No      |10009|
|Yes     |4891 |
+--------+-----+

+------------------+-----+
|Distance from Home|count|
+------------------+-----+
|31                |149  |
|85                |146  |
|65                |126  |
|53                |177  |
|78                |153  |
|34                |169  |
|81                |136  |
|28                |146  |
|76                |137  |
|26                |134  |
|27                |145  |
|44                |153  |
|12                |145  |
|91                |139  |
|22                |155  |
|93                |149  |
|47                |139  |
|1                 |164  |
|52                |158  |
|13                |166  |
|86                |149  |
|16                |170  |
|6                 |136  |
|3                 |147  |
|40                |159  |
|20                |154  |
|94                |162  |
|57                |151  |
|54                |148  |
|96                |147  |
|48                |139  |
|5                 |143  |
|19                |136  |
|92                |152  |
|64                |155  |
|41                |155  |
|43                |136  |
|15                |151  |
|37                |150  |
|61                |140  |
|88                |141  |
|9                 |142  |
|17                |152  |
|72                |163  |
|35                |169  |
|55                |150  |
|4                 |156  |
|59                |139  |
|8                 |185  |
|23                |148  |
+------------------+-----+
only showing top 50 rows
+-----------------+-----+
|Education Level  |count|
+-----------------+-----+
|High School      |2932 |
|Master’s Degree  |3001 |
|PhD              |728  |
|Bachelor’s Degree|4505 |
|Associate Degree |3734 |
+-----------------+-----+

+--------------+-----+
|Marital Status|count|
+--------------+-----+
|Married       |7511 |
|Divorced      |2223 |
|Single        |5166 |
+--------------+-----+

+--------------------+-----+
|Number of Dependents|count|
+--------------------+-----+
|1                   |3821 |
|6                   |129  |
|3                   |2126 |
|5                   |605  |
|4                   |1554 |
|2                   |2255 |
|0                   |4410 |
+--------------------+-----+

+---------+-----+
|Job Level|count|
+---------+-----+
|Senior   |3062 |
|Mid      |5925 |
|Entry    |5913 |
+---------+-----+

+------------+-----+
|Company Size|count|
+------------+-----+
|Medium      |7486 |
|Small       |4420 |
|Large       |2994 |
+------------+-----+

+--------------+-----+
|Company Tenure|count|
+--------------+-----+
|31            |165  |
|85            |152  |
|65            |192  |
|53            |200  |
|78            |183  |
|108           |28   |
|34            |165  |
|115           |21   |
|101           |61   |
|126           |1    |
|81            |180  |
|28            |155  |
|76            |195  |
|27            |152  |
|26            |156  |
|44            |177  |
|103           |33   |
|12            |76   |
|91            |112  |
|22            |138  |
|122           |4    |
|93            |87   |
|111           |17   |
|47            |207  |
|52            |179  |
|13            |82   |
|16            |115  |
|86            |143  |
|6             |39   |
|3             |9    |
|40            |191  |
|20            |141  |
|94            |89   |
|57            |198  |
|54            |173  |
|120           |6    |
|96            |70   |
|48            |193  |
|5             |38   |
|19            |135  |
|92            |86   |
|117           |10   |
|64            |196  |
|41            |162  |
|15            |92   |
|43            |202  |
|112           |15   |
|37            |176  |
|61            |168  |
|127           |2    |
+--------------+-----+
only showing top 50 rows
+-----------+-----+
|Remote Work|count|
+-----------+-----+
|No         |12061|
|Yes        |2839 |
+-----------+-----+

+------------------------+-----+
|Leadership Opportunities|count|
+------------------------+-----+
|No                      |14165|
|Yes                     |735  |
+------------------------+-----+

+------------------------+-----+
|Innovation Opportunities|count|
+------------------------+-----+
|No                      |12499|
|Yes                     |2401 |
+------------------------+-----+

+------------------+-----+
|Company Reputation|count|
+------------------+-----+
|Excellent         |1433 |
|Good              |7416 |
|Fair              |2969 |
|Poor              |3082 |
+------------------+-----+

+--------------------+-----+
|Employee Recognition|count|
+--------------------+-----+
|High                |3706 |
|Very High           |708  |
|Low                 |5862 |
|Medium              |4624 |
+--------------------+-----+

+---------+-----+
|Attrition|count|
+---------+-----+
|Left     |7032 |
|Stayed   |7868 |
+---------+-----+

### Padronização das vairáveis
- Nomes
- Tipos
- Conteúdos

In [5]:
modified_df = df.withColumn(
    "Education Level",
    F.when(F.col("Education Level") == "Master’s Degree", "Masters Degree")
    .when(F.col("Education Level") == "Bachelor’s Degree", "Bachelors Degree")
    .otherwise(F.col("Education Level"))
)

In [6]:
# Leitura do dicionário
dicionario_path = "/home/tatiane/data-projects/01_data_cleaning/et_rh/refined/metadata/dicionario.csv"
dic = spark.read.csv(dicionario_path, header=True, inferSchema=False)

In [7]:
dic.show()

+--------------------+--------------------+--------+--------------------+
|                 var|             new_var|new_type|          map_values|
+--------------------+--------------------+--------+--------------------+
|         Employee ID|         employee_id|  String|                  {}|
|                 Age|                 age| Integer|                  {}|
|              Gender|              gender|    Byte|{'Female':'1','Ma...|
|    Years at Company|    years_at_company| Integer|                  {}|
|            Job Role|            job_role|    Byte|{'Education':'1',...|
|      Monthly Income|      monthly_income| Integer|                  {}|
|   Work-Life Balance|   work_life_balance|    Byte|{'Excellent':'1',...|
|    Job Satisfaction|    job_satisfaction|    Byte|{'High':'1','Very...|
|  Performance Rating|  performance_rating|    Byte|{'High':'1','Low'...|
|Number of Promotions|number_of_promotions| Integer|                  {}|
|            Overtime|            overtime|    Byte|{'Yes':'1','No':'2'}|
|  Distance from Home|  distance_from_home| Integer|                  {}|
|     Education Level|     education_level|    Byte|{'High School':'1...|
|      Marital Status|      marital_status|    Byte|{'Married':'1','D...|
|Number of Dependents|number_of_dependents| Integer|                  {}|
|           Job Level|           job_level|    Byte|{'Senior':'1','Mi...|
|        Company Size|        company_size|    Byte|{'Medium':'1','Sm...|
|      Company Tenure|      company_tenure| Integer|                  {}|
|         Remote Work|         remote_work|    Byte|{'Yes':'1','No':'2'}|
|Leadership Opport...|leadership_opport...|    Byte|{'Yes':'1','No':'2'}|
+--------------------+--------------------+--------+--------------------+
only showing top 20 rows

In [8]:
import json
from pyspark.sql.functions import col, udf

def safe_json_loads(s):
    if not s or s.strip() in ["", "{}", "null", None]:
        return {}
    try:
        return json.loads(s)
    except json.JSONDecodeError:
        # Corrige strings com aspas simples
        try:
            return json.loads(s.replace("'", '"'))
        except Exception:
            return {}

In [9]:
from pyspark.sql.types import ByteType, IntegerType, StringType

dict_rows = dic.collect()
for row in dict_rows:
    old_name = row["var"]
    new_name = row["new_var"]
    tipo = str(row["new_type"]).lower() if row["new_type"] else None
    mapping = safe_json_loads(row["map_values"])

    # Renomear coluna
    if old_name in modified_df.columns:
        modified_df = modified_df.withColumnRenamed(old_name, new_name)

    if mapping:
        # Define função para substituir valores
        #print(f"Mapeando {new_name}: {mapping}")
        mapping_udf = udf(lambda x: mapping.get(str(x), x), StringType())
        modified_df = modified_df.withColumn(new_name, mapping_udf(col(new_name)))

In [10]:
## Mudando o tipo das variáveis
for row in dict_rows:
    old_name = row["var"]
    new_name = row["new_var"]
    tipo = str(row["new_type"]).lower() if row["new_type"] else None

 # Aplicar cast de tipo
    if tipo == "byte":
        modified_df = modified_df.withColumn(new_name, F.col(new_name).cast(ByteType()))
    elif tipo == "integer":
        modified_df = modified_df.withColumn(new_name, F.col(new_name).cast(IntegerType()))

In [21]:
pessoal.completudeSchema(modified_df)

Qtd. registros: 14900 | Quantidade de colunas:  24
root
 |-- employee_id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: byte (nullable = true)
 |-- years_at_company: integer (nullable = true)
 |-- job_role: byte (nullable = true)
 |-- monthly_income: integer (nullable = true)
 |-- work_life_balance: byte (nullable = true)
 |-- job_satisfaction: byte (nullable = true)
 |-- performance_rating: byte (nullable = true)
 |-- number_of_promotions: integer (nullable = true)
 |-- overtime: byte (nullable = true)
 |-- distance_from_home: integer (nullable = true)
 |-- education_level: byte (nullable = true)
 |-- marital_status: byte (nullable = true)
 |-- number_of_dependents: integer (nullable = true)
 |-- job_level: byte (nullable = true)
 |-- company_size: byte (nullable = true)
 |-- company_tenure: integer (nullable = true)
 |-- remote_work: byte (nullable = true)
 |-- leadership_opportunities: byte (nullable = true)
 |-- innovation_opportunities: byte (nullable = true)
 |-- company_reputation: byte (nullable = true)
 |-- employee_recognition: byte (nullable = true)
 |-- attrition: byte (nullable = true)

In [12]:
for col in modified_df.columns:
    modified_df.groupBy(col).count().show()

+-----------+-----+
|employee_id|count|
+-----------+-----+
|      73470|    1|
|      61793|    1|
|      67753|    1|
|      57020|    1|
|      43688|    1|
|      66010|    1|
|      50348|    1|
|      31983|    1|
|      36538|    1|
|      55283|    1|
|      38422|    1|
|       8389|    1|
|       9376|    1|
|      64423|    1|
|      22521|    1|
|      15619|    1|
|      28024|    1|
|      44022|    1|
|      53634|    1|
|      46266|    1|
+-----------+-----+
only showing top 20 rows
+---+-----+
|age|count|
+---+-----+
| 31|  362|
| 53|  386|
| 34|  374|
| 28|  340|
| 26|  340|
| 27|  369|
| 44|  326|
| 22|  358|
| 47|  313|
| 52|  342|
| 40|  386|
| 20|  344|
| 57|  367|
| 54|  343|
| 48|  315|
| 19|  379|
| 41|  330|
| 43|  373|
| 37|  350|
| 35|  378|
+---+-----+
only showing top 20 rows

+------+-----+
|gender|count|
+------+-----+
|     1| 6813|
|     2| 8087|
+------+-----+

+----------------+-----+
|years_at_company|count|
+----------------+-----+
|              31|  182|
|              34|  111|
|              28|  209|
|              26|  257|
|              27|  223|
|              44|   50|
|              12|  552|
|              22|  322|
|              47|   35|
|               1|  635|
|              13|  499|
|              16|  419|
|               6|  608|
|               3|  595|
|              40|   89|
|              20|  364|
|              48|   33|
|               5|  628|
|              19|  351|
|              41|   88|
+----------------+-----+
only showing top 20 rows

+--------+-----+
|job_role|count|
+--------+-----+
|       1| 3168|
|       3| 2063|
|       5| 3815|
|       4| 2422|
|       2| 3432|
+--------+-----+

+--------------+-----+
|monthly_income|count|
+--------------+-----+
|          6357|    3|
|          8592|    3|
|          7993|    4|
|          9900|    2|
|          7982|    3|
|         13840|    1|
|          5300|    3|
|          4935|    3|
|          6336|    1|
|          7880|    3|
|          7754|    1|
|          5803|    3|
|          6466|    2|
|          5518|    1|
|          6397|    4|
|          6620|    3|
|          9376|    3|
|          7253|    2|
|          7833|    3|
|          8086|    1|
+--------------+-----+
only showing top 20 rows

+-----------------+-----+
|work_life_balance|count|
+-----------------+-----+
|                1| 2713|
|                3| 4483|
|                4| 2074|
|                2| 5630|
+-----------------+-----+

+----------------+-----+
|job_satisfaction|count|
+----------------+-----+
|               1| 7466|
|               3| 2900|
|               4| 1566|
|               2| 2968|
+----------------+-----+

+------------------+-----+
|performance_rating|count|
+------------------+-----+
|                 1| 3022|
|                 3| 8909|
|                 4| 2189|
|                 2|  780|
+------------------+-----+

+--------------------+-----+
|number_of_promotions|count|
+--------------------+-----+
|                   1| 3716|
|                   3|  804|
|                   4|  201|
|                   2| 2750|
|                   0| 7429|
+--------------------+-----+

+--------+-----+
|overtime|count|
+--------+-----+
|       1| 4891|
|       2|10009|
+--------+-----+

+------------------+-----+
|distance_from_home|count|
+------------------+-----+
|                31|  149|
|                85|  146|
|                65|  126|
|                53|  177|
|                78|  153|
|                34|  169|
|                81|  136|
|                28|  146|
|                76|  137|
|                26|  134|
|                27|  145|
|                44|  153|
|                12|  145|
|                91|  139|
|                22|  155|
|                93|  149|
|                47|  139|
|                 1|  164|
|                52|  158|
|                13|  166|
+------------------+-----+
only showing top 20 rows

+---------------+-----+
|education_level|count|
+---------------+-----+
|              1| 2932|
|              3|  728|
|              5| 3734|
|              4| 4505|
|              2| 3001|
+---------------+-----+

+--------------+-----+
|marital_status|count|
+--------------+-----+
|             1| 7511|
|             3| 5166|
|             2| 2223|
+--------------+-----+

+--------------------+-----+
|number_of_dependents|count|
+--------------------+-----+
|                   1| 3821|
|                   6|  129|
|                   3| 2126|
|                   5|  605|
|                   4| 1554|
|                   2| 2255|
|                   0| 4410|
+--------------------+-----+

+---------+-----+
|job_level|count|
+---------+-----+
|        1| 3062|
|        3| 5913|
|        2| 5925|
+---------+-----+

+------------+-----+
|company_size|count|
+------------+-----+
|           1| 7486|
|           3| 2994|
|           2| 4420|
+------------+-----+

+--------------+-----+
|company_tenure|count|
+--------------+-----+
|            31|  165|
|            85|  152|
|            65|  192|
|            53|  200|
|            78|  183|
|           108|   28|
|            34|  165|
|           115|   21|
|           101|   61|
|           126|    1|
|            81|  180|
|            28|  155|
|            76|  195|
|            27|  152|
|            26|  156|
|            44|  177|
|           103|   33|
|            12|   76|
|            91|  112|
|            22|  138|
+--------------+-----+
only showing top 20 rows
+-----------+-----+
|remote_work|count|
+-----------+-----+
|          1| 2839|
|          2|12061|
+-----------+-----+

+------------------------+-----+
|leadership_opportunities|count|
+------------------------+-----+
|                       1|  735|
|                       2|14165|
+------------------------+-----+

+------------------------+-----+
|innovation_opportunities|count|
+------------------------+-----+
|                       1| 2401|
|                       2|12499|
+------------------------+-----+

+------------------+-----+
|company_reputation|count|
+------------------+-----+
|                 1| 1433|
|                 3| 2969|
|                 4| 3082|
|                 2| 7416|
+------------------+-----+

+--------------------+-----+
|employee_recognition|count|
+--------------------+-----+
|                   1| 3706|
|                   3| 4624|
|                   4| 5862|
|                   2|  708|
+--------------------+-----+

+---------+-----+
|attrition|count|
+---------+-----+
|        1| 7032|
|        2| 7868|
+---------+-----+

### Escrita da base

In [13]:
write_path = '/home/tatiane/data-projects/01_data_cleaning/et_rh/refined/data/'

In [14]:
writeSingleCsv(modified_df, write_path)
# arquivo foi renomeado para: clean_transformed_rh

('/home/tatiane/data-projects/01_data_cleaning/et_rh/refined/data/data.csv',
 3.7508245249991887,
 3.784667977000936)

### Finalização do notebook

In [15]:
executionTime()

Tempo de execucao ate este ponto: 0:03:49.803178